<app-header></app-header>
<section class="main flex flex-row">
  <nav class="w-44">
    <app-nav></app-nav>
  </nav>
  <div class="container-content">
    <router-outlet></router-outlet>
  </div>
  <aside class="flex-1">
    <app-aside></app-aside>
  </aside>
</section>

<!--<div class="back-to-top" id="back-to-top">
  <img src="assets/img/up.png" alt="..." />
</div>
<div class="accept-policies" *ngIf="showAcceptPolicies">
  <p>
    Ao navegar neste site, você aceita os cookies que usamos para melhorar sua
    experiência.
    <button class="accept" (click)="acceptPolicies()">Entendi</button>
  </p>
</div>-->
<app-footer></app-footer>
