@import '../../../../../styles/colors.scss';

.container-search input {
  --border-width: 1px;
  background-color: $white_one;
  border: 1px solid $gray_one;
  color: $black_one;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0.375rem;
  transition: all cubic-bezier(0.17, 0.67, 0.5, 0.71) 100ms;
}
