div.container-links ul li {
  display: list-item;
  padding: 0;
  border-radius: 4px;
  background-color: transparent;
}

div.container-links ul li a.b-link {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font: inherit;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  color: rgba(64, 64, 64, 1);
  width: 100%;
}

div.container-links ul li:hover {
  background-color: rgba(59, 73, 223, 0.1);
}

div.container-links ul li:hover a {
  color: rgb(47, 58, 178);
  text-decoration: underline;
  padding: 0 2%;
}
